.restaurant-box {
  display: flex;
  width: 100%;
  max-width: 800px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgb(254 224 149 / 40%);
  gap: 8px;
}

.restaurant-image {
  height: 100%;
  border-radius: 4px;
  aspect-ratio: 1/1;
}

.restaurant-name {
  color: var(--color-title);
  font-size: 18px;
  font-weight: 500;
}

.restaurant-address {
  margin-top: 8px;
  font-size: 12px;
}

.restaurant-rating {
  display: inline-block;
  padding: 0 2px;
  margin-top: 4px;
  background: rgb(254 224 149 / 40%);
  font-size: 10px;
}
