.restaurant-box {
  display: flex;
  width: 100%;
  max-width: 800px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgb(254 224 149 / 40%);
  gap: 8px;
}

.animation {
  animation: 0.6s jump ease-in-out infinite alternate;
}

.restaurant-image {
  height: 100%;
  border-radius: 4px;
  aspect-ratio: 1/1;
}

.restaurant-name {
  color: var(--color-title);
  font-size: 18px;
  font-weight: 500;
}

.restaurant-address {
  margin-top: 8px;
  font-size: 12px;
}

.restaurant-rating {
  display: inline-block;
  padding: 0 2px;
  margin-top: 4px;
  background: rgb(254 224 149 / 40%);
  font-size: 10px;
}

@keyframes jump {
  0% {
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
    transform: scale(1) translate(86px, -50%);
  }

  100% {
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    transform: scale(1.01) translate(86px, -50%);
  }
}
