/* 참고 사이트: https://foolishdeveloper.com/animated-bubbles-background-css/ */

.sparkles {
  position: absolute;
  z-index: 5;
  right: 50px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
}

.sparkle-1 {
  right: 350px;
  animation: up 12s infinite;
}

.sparkle-2 {
  right: 50px;
  animation: up 13s infinite;
}

.sparkle-3 {
  right: 350px;
  animation: up 10s infinite;
}

.sparkle-4 {
  right: 300px;
  animation: up 11s infinite;
  opacity: 0.3;
}

.sparkle-5 {
  right: 750px;
  animation: up 13s infinite;
  opacity: 0.3;
}

.sparkle-6 {
  right: 670px;
  animation: up 12s infinite;
}

.sparkle-7 {
  right: 1150px;
  animation: up 14s infinite;
}

.sparkle-8 {
  right: 1050px;
  animation: up 11s infinite;
  opacity: 0.3;
}

.sparkle-9 {
  right: 540px;
  animation: up 12s infinite;
}

.sparkle-10 {
  right: 660px;
  animation: up 13s infinite;
  opacity: 0.3;
}

.sparkle-11 {
  right: 540px;
  animation: up 10s infinite;
}

.sparkle-12 {
  right: 410px;
  animation: up 9s infinite;
  opacity: 0.3;
}

.sparkle-13 {
  right: 842px;
  animation: up 8s infinite;
}

.sparkle-14 {
  right: 1155px;
  animation: up 12s infinite;
  opacity: 0.3;
}

.sparkle-15 {
  right: 1311px;
  animation: up 10s infinite;
}

.sparkle-16 {
  right: 1434px;
  animation: up 9s infinite;
  opacity: 0.3;
}

.sparkle-17 {
  right: 536px;
  animation: up 13s infinite;
}

.sparkle-18 {
  right: 1532px;
  animation: up 14s infinite;
  opacity: 0.3;
}

.sparkle-19 {
  right: 1511px;
  animation: up 14s infinite;
  opacity: 0.3;
}

.sparkle-20 {
  right: 1453px;
  animation: up 23s infinite;
  opacity: 0.3;
}

.sparkle-21 {
  right: 1143px;
  animation: up 6s infinite;
  opacity: 0.3;
}

.sparkle-22 {
  right: 1123px;
  animation: up 13s infinite;
  opacity: 0.3;
}

.sparkle-23 {
  right: 323px;
  animation: up 6s infinite;
  opacity: 0.3;
}

.sparkle-24 {
  right: 653px;
  animation: up 8s infinite;
  opacity: 0.2;
}

.sparkle-25 {
  right: 433px;
  animation: up 15s infinite;
  opacity: 0.21;
}

.sparkle-26 {
  right: 233px;
  animation: up 6s infinite;
  opacity: 0.34;
}

.sparkle-27 {
  right: 444px;
  animation: up 7s infinite;
  opacity: 0.12;
}

.sparkle-28 {
  right: 323px;
  animation: up 6s infinite;
  opacity: 0.3;
}

.sparkle-29 {
  right: 653px;
  animation: up 8s infinite;
  opacity: 0.2;
}

.sparkle-30 {
  right: 433px;
  animation: up 8s infinite;
  opacity: 0.21;
}

.sparkle-31 {
  right: 233px;
  animation: up 6s infinite;
  opacity: 0.34;
}

.sparkle-32 {
  right: 444px;
  animation: up 4s infinite;
  opacity: 0.12;
}

.sparkle-33 {
  right: 1353px;
  animation: up 8s infinite;
  opacity: 0.2;
}

.sparkle-34 {
  right: 1433px;
  animation: up 9s infinite;
  opacity: 0.21;
}

.sparkle-35 {
  right: 1233px;
  animation: up 7s infinite;
  opacity: 0.34;
}

.sparkle-36 {
  right: 1444px;
  animation: up 8s infinite;
  opacity: 0.12;
}

/* sparkles Animation */
@keyframes up {
  100% {
    transform: translateY(-800px);
  }
}
